<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto Kito</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <button aria-label="menu" id="menu" class="header__menu">☰</button>
    </header>

    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item logo"><a href="#">Resto Kito</a></li>
            <li class="nav__item kanan"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#">Favorites</a></li>
            <li class="nav__item"><a href="https://www.facebook.com/Nozami" target="_blank">About Us</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Makan sepuasnya, Bayarnya cuma-cuma</h1>
            <p class="hero__tagline"></p>
        </div>
    </div>
    <main id="maincontent">
        <section class="content">
            <div class="latest">
                <h1 class="latest__label">Explore Restaurant</h1>
                <div class="posts">

                </div>
            </div>
        </section>
    </main>

    <footer>
        <ul>
            <li>Copyright © 2021 -<a href="/">Resto Kito</a></li>
        </ul>
    </footer>

</body>

</html>