.posts {
  display: grid;
  grid-row-gap: 16px;
}

@media screen and (max-width: 499px) {
  .nav {
    font-size: 1.2em;
    z-index: 10;
    background-color: #fff;
    width: 150px;
    position: absolute;

    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-150px, 0);
    transform: translate(-150px, 0);

    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: black;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
  }
  .header {
    min-height: 56px;
    transition: min-height 0.3s;
  }
  .logo {
    display: none;
  }
  .latest__label {
    font-size: 28px;
    font-weight: lighter;
  }
}

@media screen and (min-width: 455px) {
  .headline__content {
    padding: 16px 16px;
  }

  .headline__title {
    font-size: 28px;
  }

  .headline__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  .header {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .kanan {
    margin-left: 5%;
  }
  .nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    font-size: 1em;
    font-weight: bold;
  }

  .nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
  }

  .logo {
    margin-left: 0;
    text-align: left;
    width: 30%;
  }
}

@media screen and (min-width: 650px) {
  .headline__content {
    margin: 0 auto;
    max-width: 650px;
  }

  .post-item__content {
    padding: 16px 32px 32px 32px;
  }

  .post-item__title {
    font-size: 18px;
  }

  .post-item__description {
    font-size: 14px;
  }
  .nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    font-size: 1.1em;
    font-weight: bold;
  }

  .nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 15%;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
  }

  .logo {
    margin-left: 0;
    text-align: left;
    width: 40%;
  }
}

@media screen and (min-width: 700px) {
  .nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    font-size: 1.2em;
    font-weight: bold;
  }

  .nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 15%;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
  }

  .logo {
    margin-left: 0;
    text-align: left;
    width: 40%;
  }
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}

/* @media screen and (min-width: 800px) {
  .nav__list {
    max-width: 800px;
    margin: 0 auto;
  }
} */

@media screen and (min-width: 900px) {
  .nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    font-size: 1.5em;
    font-weight: bold;
  }

  .nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 15%;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
  }

  .logo {
    margin-left: 0;
    text-align: left;
    width: 45%;
  }
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline__content {
    padding: 16px 32px;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
